doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Anton|Oswald|Overpass|Seymour+One&display=swap", rel="stylesheet")
    script
      include ../public/javascripts/bundle.js
  body
    div.container
      include header.pug
      main.main-content
          aside.left-bar
          section.result
            block content
      include footer.pug
  