doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Anton|Oswald|Overpass|Seymour+One&display=swap", rel="stylesheet")
    script
      include ../public/javascripts/bundle.js
  body
    div.container 
      include ./mixins/_details_bulletin_modal
      +bulletin_details()
      if !autorised
        include ./mixins/_register_modal
        include ./mixins/_sign-in_modal
        +register_modal()
        +sign-in_modal()
      if autorised
        include ./mixins/_add_bulletin_modal
        +create_bulletin(categories)
      include header.pug
      main.main-content
        block content
      include footer.pug
  