@import url(bootstrap-stars.css);
* {
  margin: 0;
  padding: 0; }

.container {
  position: relative; }

.main-content {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 160px);
  border-left: 3px rgba(0, 152, 185, 0.17) solid;
  border-right: 3px rgba(0, 152, 185, 0.17) solid; }

.form-control.errored {
  color: #b30000; }

.header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #00bdff;
  justify-content: space-between;
  padding: 0 16px; }
  .header .header__left-part {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header .header__left-part .logo {
      color: #ffffff;
      font-size: 24px;
      font-family: 'Seymour One', Arial, Helvetica, sans-serif; }
    .header .header__left-part #add-bulletin-btn {
      height: 40px;
      width: 100px;
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 16px; }
  .header .header__right-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .header .header__right-part .header__right-part-user-link {
      color: #ffffff;
      font-family: 'Oswald',Arial, Helvetica, sans-serif;
      font-size: 18px; }
    .header .header__right-part #log-out-btn,
    .header .header__right-part #sign-in-btn,
    .header .header__right-part #sign-up-btn {
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 14px; }
      .header .header__right-part #log-out-btn.sign,
      .header .header__right-part #sign-in-btn.sign,
      .header .header__right-part #sign-up-btn.sign {
        margin-left: 16px; }

.footer {
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  background-color: rgba(73, 119, 184, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; }
  .footer .logo {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Seymour One', Arial, Helvetica, sans-serif; }
  .footer .footer-rights {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: center; }

.left-bar {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 24px;
  border-right: 2px solid rgba(0, 152, 185, 0.17); }
  .left-bar .left-bar__filter {
    width: 90%;
    display: flex;
    flex-direction: column; }
    .left-bar .left-bar__filter .left-bar__filter-title {
      color: #007bff;
      padding-left: 16px;
      height: 30px;
      vertical-align: middle;
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 16px;
      border-bottom: 2px solid rgba(73, 119, 184, 0.85); }
    .left-bar .left-bar__filter .list-group a {
      color: #00aaff;
      font-family: 'Oswald', Arial, Helvetica, sans-serif; }

.result {
  width: calc(100% - 200px);
  padding: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.card.bulletin-card {
  width: 250px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif; }
  .card.bulletin-card .card-text {
    margin-bottom: 4px; }
  .card.bulletin-card .link-with-rating {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between; }

#modal__create-bulletin .modal-header {
  font-size: 20px;
  font-family: 'Seymour One', Arial, Helvetica, sans-serif;
  color: #007bff; }

#modal__create-bulletin .modal-body {
  font-family: "Oswald", Arial, Helvetica, sans-serif; }
  #modal__create-bulletin .modal-body .media .preview {
    max-width: 200px;
    height: auto; }

#modal__create-bulletin .modal-footer .btn {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.rating-container {
  margin-top: 8px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(73, 119, 184, 0.05);
  border-radius: 4px;
  padding: 2px; }
  .rating-container .top-rating {
    font-size: smaller;
    color: #702a15;
    padding: 0 8px 0 4px; }
  .rating-container .star-inactive-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .rating-container .star-inactive-block .star {
      width: 24px;
      height: 24px;
      padding: 4px;
      object-fit: contain; }

#modal__bulletin-detail .modal-header {
  font-size: 20px;
  font-family: "Seymour One", Arial, Helvetica, sans-serif;
  color: #007bff; }

#modal__bulletin-detail .modal-body {
  font-family: "Oswald", Arial, Helvetica, sans-serif; }
  #modal__bulletin-detail .modal-body .media .preview {
    max-width: 300px;
    height: auto; }
  #modal__bulletin-detail .modal-body .media .media-body h5 {
    color: #702a15; }
  #modal__bulletin-detail .modal-body .media .media-body .created-by {
    color: #00aaff;
    font-size: small; }
  #modal__bulletin-detail .modal-body .media .media-body .bulletin-text-content {
    margin-top: 8px;
    border: 1px solid #007bff;
    border-radius: 4px;
    min-height: 100px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
    font-weight: lighter;
    color: #0f0f00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  #modal__bulletin-detail .modal-body .media .media-body .ratings-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-around; }
    #modal__bulletin-detail .modal-body .media .media-body .ratings-block .rating-call {
      font-size: medium;
      color: #702a15; }
    #modal__bulletin-detail .modal-body .media .media-body .ratings-block .rating-active-container {
      font-family: unset;
      display: flex;
      max-width: 150px;
      margin: 8px 0 8px auto; }

#modal__bulletin-detail .modal-footer .btn {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.br-theme-bootstrap-stars .br-widget {
  height: 28px;
  white-space: nowrap; }
  .br-theme-bootstrap-stars .br-widget a {
    font: normal normal normal 18px/1 'Glyphicons Halflings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px; }
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e006';
    color: #d2d2d2; }
  .br-theme-bootstrap-stars .br-widget a.br-active:after {
    color: #EDB867; }
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    color: #EDB867; }
  .br-theme-bootstrap-stars .br-widget .br-current-rating {
    display: none; }

.br-theme-bootstrap-stars .br-readonly a {
  cursor: default; }

@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black; }
  .br-theme-bootstrap-stars .br-widget a.br-active:after,
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black; } }

.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap; }
  .br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 24px;
    width: 24px;
    float: left;
    font-size: 28px;
    margin-right: 3px; }
  .br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2; }
  .br-theme-css-stars .br-widget a.br-active:after {
    color: #EDB867; }
  .br-theme-css-stars .br-widget a.br-selected:after {
    color: #EDB867; }
  .br-theme-css-stars .br-widget .br-current-rating {
    display: none; }

.br-theme-css-stars .br-readonly a {
  cursor: default; }

@media print {
  .br-theme-css-stars .br-widget a:after {
    content: "\2606";
    color: black; }
  .br-theme-css-stars .br-widget a.br-active:after,
  .br-theme-css-stars .br-widget a.br-selected:after {
    content: "\2605";
    color: black; } }

/*# sourceMappingURL=style.css.map */