* {
  margin: 0;
  padding: 0; }

.container {
  position: relative; }

.main-content {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 160px);
  border-left: 3px rgba(0, 152, 185, 0.17) solid;
  border-right: 3px rgba(0, 152, 185, 0.17) solid; }

.header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #00bdff;
  justify-content: space-between;
  padding: 0 16px; }
  .header .header__left-part {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header .header__left-part .logo {
      color: #ffffff;
      font-size: 24px;
      font-family: 'Seymour One', Arial, Helvetica, sans-serif; }
    .header .header__left-part #add-bulletin-btn {
      height: 40px;
      width: 100px;
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 16px; }
  .header .header__right-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
    .header .header__right-part .header__right-part-user-link {
      color: #ffffff;
      font-family: 'Oswald',Arial, Helvetica, sans-serif;
      font-size: 18px; }
    .header .header__right-part #log-out-btn,
    .header .header__right-part #sign-in-btn,
    .header .header__right-part #sign-up-btn {
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 14px; }
      .header .header__right-part #log-out-btn.sign,
      .header .header__right-part #sign-in-btn.sign,
      .header .header__right-part #sign-up-btn.sign {
        margin-left: 16px; }

.footer {
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  background-color: rgba(73, 119, 184, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; }
  .footer .logo {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Seymour One', Arial, Helvetica, sans-serif; }
  .footer .footer-rights {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12px;
    text-align: center; }

.left-bar {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 24px;
  border-right: 2px solid rgba(0, 152, 185, 0.17); }
  .left-bar .left-bar__filter {
    width: 90%;
    display: flex;
    flex-direction: column; }
    .left-bar .left-bar__filter .left-bar__filter-title {
      color: #007bff;
      padding-left: 16px;
      height: 30px;
      vertical-align: middle;
      font-family: 'Anton',Arial, Helvetica, sans-serif;
      font-size: 16px;
      border-bottom: 2px solid rgba(73, 119, 184, 0.85); }
    .left-bar .left-bar__filter .list-group a {
      color: #00aaff;
      font-family: 'Oswald', Arial, Helvetica, sans-serif; }

.result {
  width: calc(100% - 200px);
  padding: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.card.bulletin-card {
  width: 250px; }

#modal__create-bulletin .modal-body .media .preview {
  max-width: 200px;
  height: auto; }

/*# sourceMappingURL=style.css.map */