mixin bulletin_details()
  .modal.fade#modal__bulletin-detail(tabindex='-1', role='dialog', aria-labeledby='modal__create-bulletin', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header
          .modal-title#modal__bulletin-detail-title
            ='Bulletin on board'
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true')
              |&times;
        .modal-body
          .media
            img.align-self-start.mr-3.preview#bulletin-image(src="./images/default.gif", alt='image')
            .media-body
              h5.mt-0
                = 'Bulletin Name'
              .created-by
                ='Created by'
              .bulletin-text-content
                =' '
              .ratings-block.hidden
                p.rating-call
                  = 'Rate this Bulletin (1 to 5 stars):'
                .rating-active-container
                  select#bulletin-rating
                    option(value = '1') 1
                    option(value = '2') 2
                    option(value = '3') 3
                    option(value = '4') 4
                    option(value = '5') 5
              span.collapse-review-block.hidden
                ='Leave Review'
              form#review-form.leave-review-block.collapse
                .form-group
                  textarea.form-control.leave-review-input(
                      name='review',
                      maxlength = '300',
                      aria-describedby = 'enter-review'
                      placeholder='Leave your review'
                    )
                  small.form-text.text-muted
                    ='Maximum 300 characters'
                button.btn.btn-primary.bulletin__leave-review-btn(type='button')
                  ='Submit'
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal')
            ='Close'