.card {
  height: max-content;
  &.bulletin-card {
    width: 250px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    .card-body{
      min-height: 200px;
    }
    .img-container {
      max-height: 200px;
      overflow: hidden;
      object-fit: contain;
    }
    .card-text {
      margin-bottom: 4px;
    }

    .link-with-rating {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }

    .edit-block{
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn-sm{
        height: 24px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        padding: 0px 8px;
        &#edit-bulletin{
          margin-left: 8px;
        }
      }
    }
  }
}
