.card {
  height: max-content;
  &.bulletin-card {
    width: 250px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    .card-body{
      min-height: 200px;
    }
    .img-container {
      max-height: 200px;
      overflow: hidden;
      object-fit: contain;
    }
    .card-text {
      margin-bottom: 4px;
    }

    .link-with-rating {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }
  }
}
